.about-header {
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: $midnight-green;
    
}

.about-header__inner {
    display: flex;
    align-items:center;
}
.about-header__logo {
    margin-right: 80px;
}

.about-header__img{
    width: 100%;
    max-width: 159px;
    max-height: 40px;
}

.about-header__menu {
    margin-right: auto;
}
.about-header__list {
    @include list-global;
    display: flex;
    align-items: center;
}
.about-header__item + .about-header__item{
    margin-left: 40px;
    
}



.about-header__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all 0.4s ease;
    
    &:hover{
        color: $light-coral;
    }

    
}


.about-header__contact {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 32px;
    color: $white-color;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    transition: all 0.4s ease;
    
    &:hover{
        background-color: $white-color;
        color: $dark-green;
    }

    &:active{
        color: #406367;
        border-color: #406367;
        background-color: #012F34;

    }
}

.about-header__burger-btn{
    display: none;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}

@media only screen and (max-width:768px){
    
    .about-header{
        padding: 64px 0;
    }

    .about-header__logo {
        margin-right: 48px;
    }
    
    .about-header__img{
        width: 100%;
        max-width: 127px;
        max-height: 32px;
    }
}

@media only screen and (max-width:576px){
    
    .about-header{
        padding-top: 48px;
        padding-bottom: 48px;
    }


    .about-header__menu , .about-header__contact {
        display: none;
    }

    // ===============addition===============

    // .about-header__contact {
    //     display: block;
    //     position: relative;
    //     z-index: 2; 
    // }

    // .about-header__menu{
    //     position: absolute;
    //     z-index: 1;
    //     top: 0;
    //     right: 0;
    //     display: block;
    //     width: 50%;
    //     height: 100vh;
    //     background-color: $light-coral;
    // }

    // .about-header__list{
    //     align-items: flex-start;
    // }

    // .about-header__item + .about-header__item{
    //     margin-left: 0;
    // }
    

    // ================================
    
    .about-header__logo{
        margin-right: auto;
    }

    // .about-header__list{
    //     flex-direction: column;
    // }
    
    .about-header__burger-btn{
        // position: relative;
        // z-index: 2;   
        display: block;
    }

    .burger__none{
        display: none;
    }

}