.about-ready {
    background-color: $light-coral;
    padding: 76px 0;
    background-image: url("../../img/ready.png");
    background-repeat: no-repeat;
    background-size: 200px 122px;
    background-position: calc(50% - 660px) bottom;
}


.about-ready__inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 917px;
    margin: 0 auto;
        
}

.about-ready__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
    margin: 0;
    margin-right: auto ;
    
}
.about-ready__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #012F34;
    padding: 10px 32px;
    border: 2px solid #012F34;
    border-radius: 24px; 
    transition: all 0.4s ease;
    
    &:hover{
        background-color: $white-color;
        color: $dark-green;
    }
    
    &:active{
        color: #406367;
        border-color: #406367;
        background-color: #012F34;
        
    }
    
    
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .about-ready {
        
        background-image: url("../img/ready@2x.png");
        
    }
}



@media only screen and(max-width:768px){

    .about-ready{
        background-position: calc(50% - 283px) bottom;
    }

    .about-ready__inner {
        justify-content: center;
            
    }

    .about-ready__title{
        font-size: 32px;
        line-height: 32px;
        margin-right: 84px;
    }
}



@media only screen and(max-width:616px){


    .about-ready__title{
        
        margin-right: auto;
    }
}


@media only screen and(max-width:576px){

    .about-ready{
        padding: 83px 0;
        background-position: calc(50% - 187px) bottom;
    }

    .about-ready__inner{
        width: 100;
        max-width: 327px;
        flex-direction: column;
        text-align: center;
    }

    .about-ready__title{
        margin: 0;
        margin-bottom: 24px;
    }

}



@media only screen and (max-width:376px){
    
    .about-ready{
        background-position: calc(50% - 89px) bottom;

    }



    
}