.directors {
    padding: 140px 0 168px;
    background-color: $deep-jungle-green;
    background-image: url("../img/directors-left.png"), url("../../img/directors-right.png");
    background-repeat: no-repeat;
    background-size: 200px 200px, 147px 100px;
    background-position: calc(50% - 760px) top, calc(50% + 689px) bottom;
}


.directors__inner {
}

.directors__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 64px;
}

.directors__list {
    @include list-global;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.directors__item {
    width: 100%;
    max-width: 350px;
    padding: 32px 24px 56px;
    text-align: center;
    background-color: #012F34;
    position: relative;
}

.directors__item:nth-child(3n + 2){ 
    margin-left: 30px;
    margin-right: 30px;
    
}

.directors__item--top{
    margin-bottom: 76px;
}

.directors__item--last{
    padding: 35px 24px 63px;
}

.directors__circle{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    display: inline-block;
    padding: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $light-coral;
    margin:  0 auto;
    background-image: url("../../img/plus.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center ;
    transition: all 0.4s ease;
}


.directors__circle:hover{
    background-color: #79C8C7;
    background-image: url("../../img/minus.svg")
    
}



.directors__img {
    width: 100%;
    max-width: 96px;
    max-height: 96px;
    margin-bottom: 16px;
}

.directors__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    color: #79C8C7;
    
}

.directors__info {
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
}

.directors__text{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
    margin-top: 0;
    margin-bottom: 8px;
}

.directors__wrapper{
    width: 100%;
    max-width: 254px;
    text-align: center;
    margin: 0 auto;
    
}

.directors__aden{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 24px;
}

.directors__social {
    
}


.directors__link {
    display: inline-block;
    fill: #FFFFFF;
    transition: all 0.4s ease;
}

.directors__link + .directors__link{
    margin-left: 16px;
}

.directors__link:hover{
    fill:$light-coral;
    
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .directors {
        background-image: url("../../img/directors-left@2x.png"), url("../../img/directors-right@2x.png");
        
    }
}


@media only screen and(max-width:1150px){
    
    
    .directors{
        padding: 120px 0 120px;
    }
    
    .directors__list {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .directors__item{
        width: 100%;
        max-width: 281px;
        margin-bottom: 76px;
    }
    
    .directors__item:nth-child(3n+2) {
        margin-left: 11px;
        margin-right: 11px;
    }
    
    
}



@media only screen and (max-width:904px){
    
    .directors{
        padding: 100px 0 128px;
    }
    
    
    
    .directors__title {  
        margin-bottom: 48px;
    }
    
    
    .directors__item:nth-child(3n+2) {
        margin-left: 0;
        margin-right: 0;
    }
    
    
    .directors__item:nth-child(2n-1) {
        margin-left:0;
        margin-right:11px;
    }
    
    
    
    
    .directors__item:nth-child(5n) , .directors__item:nth-child(6n) {
        margin-bottom: 0;
    }
    
    
} 



@media only screen and (max-width:768px){
    
    .directors{
        background-position: calc(50% - 385px) top, calc(50% + 310px) bottom;
    }
    
    .directors__title{
        font-size: 32px;
        line-height: 32px;
    }
    
} 


@media only screen and (max-width:613px){
    
    .directors{
        padding: 88px 0 116px;
    }
    
    .directors__title{
        font-size: 32px;
        line-height: 32px;
    }
    
    .directors__item{
        width: 100%;
        max-width: 327px;
        margin-bottom: 52px;
    }
    
    .directors__item:nth-child(2n-1) {
        margin-left:0;
        margin-right:0;
    }
    
    
    .directors__item:nth-child(5n) {
        margin-bottom: 76px;
    }
} 


@media only screen and (max-width:379px){
    
    .directors{
        background-position: calc(50% - 196px) calc(50% - 1040px),calc(50% + 117px) bottom;
    }
    
    
    
} 