.header {
    padding-top: 73px;
    padding-bottom: 129px;
    background-color: $midnight-green;
    
}

.header__inner {
    display: flex;
    align-items:center;
}
.header__logo {
    margin-right: 80px;
}

.header__img{
    width: 100%;
    max-width: 159px;
    max-height: 40px;
}

.header__menu {
    margin-right: auto;
}
.header__list {
    @include list-global;
    display: flex;
    align-items: center;
}
.header__item + .header__item{
    margin-left: 40px;
    
}
.header__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all 0.4s ease;
    
    &:hover{
        color: $light-coral;
    }
}



.header__contact {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 32px;
    color: $white-color;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    transition: all 0.4s ease;
    
    &:hover{
        background-color: $white-color;
        color: $dark-green;
    }
}

.header__burger-btn{
    display: none;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}

@media only screen and (max-width:768px){
    
    .header{
        padding-top: 64px;
        padding-bottom: 112px;
    }

    .header__logo {
        margin-right: 48px;
    }
    
    .header__img{
        width: 100%;
        max-width: 127px;
        max-height: 32px;
    }
}

@media only screen and (max-width:576px){
    
    .header{
        padding-top: 48px;
        padding-bottom: 80px;
    }


    .header__menu , .header__contact {
        display: none;
    }
    
    .header__logo{
        margin-right: auto;
    }
    
    .header__burger-btn{
        display: block;
        
        
    }
}